* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f0f14;
  color: white;
}


.navbar {
  position: sticky;
  top: 0;
  background: #14141c;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00ff88;
}


nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}


.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.hero-text h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.hero-text span {
  color: #00ff88;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 25px;
  opacity: 0.85;
}


.btn {
  background: #00ff88;
  color: black;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.full {
  width: 100%;
}


.section {
  padding: 60px 10%;
}

.title {
  font-size: 30px;
  margin-bottom: 25px;
  color: #00ff88;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: #1c1c25;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
}

.project-card {
  background: #1c1c25;
  padding: 20px;
  border-radius: 12px;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  opacity: 0.8;
}


.form-box {
  max-width: 420px;
  background: #1c1c25;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box label {
  font-weight: bold;
}

.form-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
  outline: none;
  background: #121219;
  color: white;
}


.error {
  color: #ff4d4d;
  font-size: 13px;
  min-height: 15px;
}

.footer {
  text-align: center;
  padding: 25px;
  background: #14141c;
  opacity: 0.85;
}
